@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none;
}

#root {
    height: 100%;
}

#desktop-app-wrapper {
	display: flex;
	height: 100%;
	flex: 1;
	flex-direction: column;
}

#desktop-app-content {
	display: flex;
    flex-direction: row;
    height: 100%;
}

#main-grid {
	background-color: #36393E;
	flex: 1;
}

button {
	-webkit-app-region: no-drag;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
