@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: -apple-system, 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

#root {
    height: 100%;
}

#desktop-app-wrapper {
	display: flex;
	height: 100%;
	flex: 1;
	flex-direction: column;
}

#desktop-app-content {
	display: flex;
    flex-direction: row;
    height: 100%;
}
/*
.titlebar {
	-webkit-app-region: drag;
	height: 32px;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	display: flex;
	flex-direction: row-reverse; 
}*/

#groups-bar {
	background-color: #1D2124;
	left: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: 100px;
	position: relative;
	margin-left: 0;
}

#groups-bar > div[title] {
	height: 20px;
	padding: 5px 0px;
	text-align: center;
}

#groups-bar > div[title] > span {
	color: #65696C;
	font-weight: bold;
	text-transform: uppercase;
}

#groups-bar > .horizontal-separator {
    color: #65696C;
    background-color: #65696C;
	height: 2px;
	border: none;
	margin: 0 10px;
	padding: 0;
}

#groups-bar .group-portrait {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 10%;
    margin: auto;
    background-color: #ffffff;
    list-style: none;
}

#zeppelin-bar {
	background-color: #303136;
	width: 300px;
}

#main-grid {
	background-color: #36393E;
	flex: 1;
}

button {
	-webkit-app-region: no-drag;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}
