#order-grid-container {
	background-color: #36393E;
    flex: 1;
    padding: 10px;
}

.data-grid {
	background-color: #46494E;
    color: rgb(150, 150, 150);
    height: 100%;
    width: 100%;
    position: relative;
}