.titlebar
{
    display: block;
    position: relative;
    height: 25px;
    padding: 0;
    background: #1D2124;
    flex-shrink: 0;
    border-bottom: 1px solid rgb(26, 30, 32);
}

.titlebar.draggable
{
    -webkit-app-region: drag;
    position: relative;
}

.titlebar .titlebar-title {
    float: none;
    line-height: 23px;
    width: 100%;
    color: grey;
    font-weight: 100;
    text-align: center;
    height: inherit;
    position: absolute;
}

.titlebar-controls
{
    float: right;
    right: 0;
    text-align: left;
    position: absolute;
    height: inherit;
}

.titlebar:after,
.titlebar-controls:after
{
    content: ' ';
    display: table;
    clear: both;
}

.titlebar-minimize,
.titlebar-resize,
.titlebar-close
{
    float: left;
    width: 30px;
    height: inherit;
    margin: 0 0 0 1px;
    text-align: center;
    line-height: 22px;
    border: none;
    background: inherit;

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.titlebar.draggable .titlebar-minimize,
.titlebar.draggable .titlebar-resize,
.titlebar.draggable .titlebar-close
{
    -webkit-app-region: no-drag;
}

.titlebar-minimize svg,
.titlebar-resize svg,
.titlebar-close svg
{
    fill: grey;
    width: 10px;
    height: 10px;
    shape-rendering: crispEdges;
}

.titlebar-close svg polygon
{
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    -ms-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
}

.titlebar:not(.fullscreen) svg.maximize-svg
{
    display: none;
}

.titlebar.fullscreen svg.fullscreen-svg
{
    display: none;
}

.titlebar-minimize:hover,
.titlebar-resize:hover,
.titlebar-fullscreen:hover
{
    background-color: darkgrey;
}

.titlebar-light .titlebar-minimize:hover,
.titlebar-light .titlebar-resize:hover,
.titlebar-light .titlebar-fullscreen:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

.titlebar-close:hover
{
    background-color: rgba(232, 17, 35, 0.9);
}

.titlebar-close:hover svg polygon
{
    fill: rgba(255, 255, 255, 1);
}

.titlebar-light .titlebar-close:hover
{
    fill: rgba(0, 0, 0, 1);
}

.titlebar-light svg polygon,
.titlebar-light svg rect,
.titlebar-light svg > path
{
    fill: rgba(255, 255, 255, 1);
}

.titlebar-light .titlebar-close:hover
{
    background-color: rgba(232, 17, 35, 0.9);
}