#zeppelin-bar {
	background-color: #303136;
    width: 250px;
    height: 100%;
}

#zeppelin-bar .zeppelin-container{
    position: relative;
    padding: 0;
    margin: 16px 0;
}

#zeppelin-bar .zeppelin-item {
    color: grey;
    list-style: none;
    transition: color .15s;
    position: relative;
    height: 30px; /*Funge bene anche senza, ma non funzionano gli inherit dentro*/
    line-height: 30px;
}

#zeppelin-bar .zeppelin-item-content {
    margin-left: 30px;
}

#zeppelin-bar .zeppelin-item-content::before {
    content: "#";
    margin-right: 6px;
}

#zeppelin-bar .zeppelin-item:hover,
#zeppelin-bar .zeppelin-item.selected {
    color: lightgray;
}

#zeppelin-bar .zeppelin-item.selected {
    background-color: #282B30
}

/* Si potrebbe gestire come Border Color della box di selezione. sarebbe più pulito credo */  
#zeppelin-bar .selection-marker {
    background-color: purple;
    width: 3px;
    position: absolute;
    float: left;
    height: inherit;
}